/* Google font importadas */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;900&family=Noto+Sans+Display:wght@400;500;600&display=swap');

body{

    background: #c8c8c8;
    padding: 0;
    margin: 0;
}

/* Responsive tipografía textos */

html{

    font-size: 16px;
    @media screen and (max-width:540px) {
        font-size: 12px;
    }

}
/*CABECERA LOGO*/
.cabecera{
  padding: 20px 20px;
  margin: 0 auto;
  background: #fff;
  color: rgb(63, 63, 63);
}

.img-container {
  text-align: center;
}


.title2 {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  line-height: 1em;
  text-transform: uppercase;
  color: #a6a6a6;
}

.img-container {
  text-align: center;
}

/*Parte del nav*/
.nav-item  {
  float: left;
  border-right: 1px solid #e0e0e0;
  padding: 4px;
}

nav{

    background-color: #fff;
}

.navbar-brand {
    margin-left: 100px;

}

.nav-link{
  position: relative;
  text-decoration: none;
}

.nav-link:hover{
  background-color: #788954;
  opacity: 1;
  transition: all 0.2s;
}

#header .menu {
  float: left;
  text-align: center;
  padding: 0;
  margin: 0 auto 20px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 0;
}

#header .menu a {
  text-transform: uppercase;
  font-size: 14px;
  color: #383838;
  letter-spacing: 0;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  position: relative;
  padding: 13px 25px;
} 
/* fin de nav */


.tit{
  color: var(--bs-nav-link-color);
  text-decoration: none;
}

.display1{
display: inline-block;
background: #788954;
font-size: 15px;
color:#fff;
letter-spacing: 0.2em;
text-transform: uppercase;
line-height: 1em;
margin-bottom: 13px;
margin-right: 30%;
}

/*responsive*/
@media(min-width: 768px){
  .display1{
    padding: 15px 105px;
  }

}

.texto-link{
  text-decoration: none;
}

.display {
    font-family: 'Old Standard TT', serif;
    font-size: calc(1em + 1vw);
    line-height: 1em;
    padding: 1em;
    margin: 1em;
    background: #788954;
    box-shadow: 7px 7px 7px rgba(0 0 0 / 0.5);
}

/* Parrafos */
/*Parrafo 1 con información
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Display', sans-serif;*/

.container1{
  max-width: 1100px;
  margin: 0 auto;
  
}

.informacion{
  background-color: #afb89a;
  padding: 70px 500px;
  color:#fff;
  font-size:16px;
  text-align: justify;
}

.titulocentrar{
  text-align: center;
}

.titulocentrar1{
  text-align: center;
}

.g-informacion{
  display: flex;
}

.informacion-txt-1 h2 {
  font-size: 55px;
  margin-bottom: 35px;
  text-align: center;
}

.imgs img{
  width: 400px;
  margin: 0px 20px 70px 20px;
  border-radius: 15px;
}

.imagen{
  width: 350px;
}

.btn-1 {
  display: inline-block;
  background-color: #fd5d47;
  margin-top: 35px;
  padding-left: 15px 25px;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.btn-1:hover{
  background-color: #bd4634;
}

/*responsive*/
@media(min-width: 768px){
  .btn-1{
    padding: 15px 105px;
  }

}


/*.container{
    margin-top: 100px;
    display: flex;
    padding: 25px;
    max-width: 700px;
    width: 80%;
    padding: 45px 20px;
    margin: 0 auto;
    margin-top: 150px;
    color: rgb(202, 202, 202);

    .title{
        font-size: 2rem;
        align-self: center;
        padding-left: 25px;
    
    }

    .paragraph{
        font-size: 1rem;
        align-self: center;
        padding-left: 25px;
    }

}*/

.title1{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: calc(1em + 1vw);
    line-height: 1em;
    text-transform: uppercase;
}

.content {
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*TARJETAS*/

.card-img-filter{
    filter: brightness(0.5);
}

.card{
    transition-duration: 0.6s;
    clip-path: polygon(
        50% 0,
        100% 0,
        100% 50%,
        100% 100%,
        50% 100%,
        0 100%,
        0 50%,
        0 0

    );

}
.card-effect:hover .card{
clip-path: polygon(
    50% 0,
    50% 0,
    100% 50%,
    100% 50%,
    50% 100%,
    50% 100%,
    0 50%,
    0 50%
);

}

.card-img-overlay{
    transition-duration: 0.6s;
}

.card-effect:hover .card-img-overlay{
    transform: scale(0.9);

}

/*COMENTARIOS*/

.comments{
    background:URL(../img/01.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.comments__img{
    --tamano: 80px;
    width: var(--tamano);
    height: var(--tamano);
    object-fit:cover;
    border-radius: 50%;
    box-shadow: 7px 7px 7px rgba(0 0 0 / 0.5);
    border: 3px ridge #fff;
}
